<april-header [connected]="(af.auth | async)" (signIn)="login($event)" (signOut)="logout($event)">
</april-header>
<div [class.hero]=true>
  <div class="image-holder">
     <img alt="The April" class="hero-image" src="/assets/img/circut.png">
    <!--<img alt="The April" class="hero-image" src="/assets/svg/circuit.svg">-->
  </div>
  <div class="center-wrapper hero-content">
    <h1 class="hero-title">
      AS400 Services
    </h1>
    <p class="hero-subtitle">
      Collection of web services built for ID3 data
    </p>
  </div>
  <router-outlet></router-outlet>
 
</div>
<april-footer></april-footer>
