<section data-conv="hello thereeee" class="card">
  <!--<div class="card-top">
    <img alt="Doodles" [src]="cardImage">
  </div>-->
  <h2>
    {{title}}
  </h2>
  <ol>
    <li *ngFor="let method of methods">
    
       {{method.desc}}
         <span (click)="actNow()" class="chatBotConv" [attr.data-chat-conv]="method.chatConv" *ngIf="method.action == 'required'">ACT NOW</span>
    </li>
  </ol>
  <a  [routerLink]="['/services', id]"  class="learn-more" data-trackevent="01-doodles"  title="Learn More">Learn More</a>
</section>
