<footer id="FooterMain" class="footer-main">
  <div class="col-wrap">
    <nav class="footer-nav pull-left">
      <ul>
        <li class="google">
          <a href="http://allianzlife.com" data-g-event="Footer" data-g-action="Click" data-g-label="Google Logo">
            Allianz Life of North America
          </a>
        </li>
        <li>
          <a href="#" data-g-event="Footer" data-g-action="Click" data-g-label="Privacy">
            Privacy
          </a>
        </li>
        <li>
          <a id="SendFeedback" href="#" data-g-event="Footer" data-g-action="Click" data-g-label="Send Feedback">
            Contact Us
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>