april-settings-card {
  width: 33.33%;
  display: inline-block;
  padding: 30px 15px 0;
  position: relative;
  text-align: center;
  padding-top: 20px;
  flex-wrap: wrap;
}

.cards {
  margin: 10px auto;
  width: 100%;
  max-width: 990px;
}

.filter {
  margin-top: 180px;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 100px;
}
md-select{
  min-width: 200px;
}

@media only screen and (max-width:760px) {
  .cards {
    max-width: 100%;
    margin: 10px auto;
  }
  .filter {
    margin-top: 120px;
  }
  april-settings-card {
    width: 100%;
    display: block;
  }
}

.stack__item--reject {
  -webkit-animation: cintaReject 0.5s forwards;
  animation: cintaReject 0.5s forwards;
}

@-webkit-keyframes cintaReject {
  to {
    opacity: 0;
    -webkit-transform: translate3d(25vw, 0, 0) translate3d(60%, 0, 0);
    transform: translate3d(25vw, 0, 0) translate3d(60%, 0, 0);
  }
}

@keyframes cintaReject {
  to {
    opacity: 0;
    -webkit-transform: translate3d(25vw, 0, 0) translate3d(60%, 0, 0);
    transform: translate3d(25vw, 0, 0) translate3d(60%, 0, 0);
  }
}

.stack__item--accept {
  -webkit-animation: cintaAccept 0.5s forwards;
  animation: cintaAccept 0.5s forwards;
}

@-webkit-keyframes cintaAccept {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px);
  }
}

@keyframes cintaAccept {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px);
  }
}

@media screen and (max-width: 60em) {
  .stack {
    width: 260px;
    height: 260px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 988px;
  width: 100%
}
