/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
.wc-header {
  /*border-bottom: solid 1px #143861;*/
  padding: 25px 30px 10px 40px;
  background: #fafafa;
  color: #143861;
  opacity: 0.9;
  box-shadow: none;
}

.wc-header span {
  margin-right: 50px;
}

.wc-console {
  border: none;
  border-top: 1px solid #143861;
}

.wc-card {
  border: none;
}

.wc-message-from-bot .wc-message-content {
  background-color: #fafafa;
}

@media screen and (max-width: 768px) {
  .wc-header {
    border-bottom: solid 1px #143861;
    /*padding: 25px 30px 10px 70px;
    background: #143861;
    color: #fafafa;*/

  }
}
