.card {
  cursor: pointer;
  height: 400px !important;
  transition: transform .4s cubic-bezier(.25, .46, .45, .94), opacity .4s cubic-bezier(.25, .46, .45, .94), box-shadow 300ms cubic-bezier(.25, .46, .45, .94), background-color 300ms cubic-bezier(.25, .46, .45, .94), -webkit-transform .4s cubic-bezier(.25, .46, .45, .94);
  -moz-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, .15);
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, .15);
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, .15);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fafafa;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 100%;
  display: inline-block;
  margin: 0 15px 18px 0;
  max-width: 350px;
}

.card:hover {
  box-shadow: 1px 8px 12px 8px rgba(0, 0, 0, .15);
  transform: translateY(-2px) scale(1.02);
}

.card-top img {
  border: 0;
  color: #f3f3f3;
  display: block;
  float: none;
  height: 100%;
  outline: 0;
  position: absolute;
  width: 100%;
}

.card h2 {
  font-size: 22px;
  padding: 25px 25px 0;
  font-weight: 300;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.card-top {
  font-size: 14px;
  font-weight: 200;
  position: relative;
  background: #f3f3f3;
  height: 185px;
  padding: 0;
}

.card p {
  color: #848484;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 65px;
  font-size: 14px;
  -webkit-margin-before: 1.5em;
  padding: 0 25px;
}

.card a,
.card a:active,
.card a:hover,
.card a:visited {
  padding: 0 25px;
  text-transform: uppercase;
  -webkit-transition: color 300ms cubic-bezier(.25, .46, .45, .94);
  transition: color 300ms cubic-bezier(.25, .46, .45, .94);
  bottom: 0;
  color: #448aff;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 25px;
  position: absolute;
  text-decoration: none;
  text-align: right;
  width: 100%;
}

ol {
  padding: 0 20px;
  margin: 10px;
  margin-bottom: 65px;
  list-style: square;
  list-style-position: unset;
}

li {
  color: #848484;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 14px;
  padding: 1px 5px;
}

span {
  opacity: .7;
  color: darkblue
}

li span {
  border-radius: 2px;
  color: red;
  border: 1px solid;
  padding: 1px 6px;
  font-size: 10px;
  margin-left: 5px;
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.added {
  color: green;
  transition: all 0.5s;
}
.hint {
  padding:5px;
  opacity: 0.8;
  color:#333;
}

.wallettext {
   animation-name: fadeOut;
   animation-delay: 2s;
   animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
